body {
}

/*Estilo tabla noticia*/

ul.noticia {
    list-style-type: none;
    margin: 30px 10px 10px 10px;
    padding: 0;
    
}

li.estilo01 {
    text-align: left;
    font-size: 20px;
    color: darkblue;
}

li.estilo02 {
    text-align: left;
    font-size: 14px;
}


/*Titulo de noticia*/

.titnot {
    margin-top: 15px;
    margin-bottom: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 32px;
    color: darkblue;
    font-style: oblique;
}

/*Titulo de noticia en pagina Details*/
.titnot02 {
    margin-top: 15px;
    margin-bottom: 3px;
    padding-bottom: 3px;
    padding-top: 10px;
    font-size: 18px;
    color: darkblue;
}

.titnot03 {
    margin-top: 5px;
    margin-bottom: 15px;
    padding-bottom: 10px;
    padding-top: 5px;
    font-size: 16px;
    color: darkblue;
}



/*Footer estilos*/

.footer01 {
    font-style: oblique;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px 10px 10px 10px;
    font-size: 16px;
    color: white;
    background-color: midnightblue;
}

.navBar01 {
    background-color: midnightblue;
}


dt {
    color: midnightblue;
    font-style: oblique;

}

.estilo_url {
    color: midnightblue;
    font-style: italic;
    text-decoration: underline;
}