@{
    ViewData["Title"] = "A cerca de nosotros";
}
<h2 class="titlenos">@ViewData["Title"] </h2>
<h4>
    Nosotros somos una pagina informativa, en la cual te enteraras de muchas noticas del pais.
    Aqui siempre estaras enterado de todo lo relevante en el mundo.
</h4>

<p> </p>
