@{
    ViewData["Title"] = "A cerca de nosotros";
}
<h2>@ViewData["Title"] </h2>
<h3>@ViewData["Message"]</h3>

<p>Nosotros somos una pagina informativa, en la cual te enteraras de muchas noticas del pais</p>
