@{
    ViewData["Title"] = "Contactanos";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Avenida 27 de Febrero #209<br />
    Santo Domingo<br />
    <abbr title="Phone"> Tel:</abbr>
    829-771-2039
</address>

<address>
    <strong>Soporte:</strong> <a href="mailto:Support@example.com">NoticiasRD@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">MarketingNoticiasRD@gmail.com</a>
</address>
