@{
    ViewData["Title"] = "Contactanos";
}
<h2>@ViewData["Title"]</h2>

<h3>Nuestra direccion es: </h3>

<address>
    Avenida 27 de Febrero #209<br />
    Santo Domingo<br />
    <abbr title="Phone"> Tel:</abbr>
    829-771-2039
</address>
<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d6364.334630475449!2d-69.92222920355913!3d18.472059253420028!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2sdo!4v1595590219172!5m2!1ses-419!2sdo" width="400" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
<br />
<address>
    <strong>Soporte:</strong> <a href="mailto:Support@example.com">NoticiasRD@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">MarketingNoticiasRD@gmail.com</a>
</address>
